
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111827;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

.logo{
color:#38bdf8;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(to right,#0f172a,#1e293b);
}

.hero-content h2{
font-size:60px;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
margin-bottom:20px;
}

button{
padding:12px 24px;
border:none;
border-radius:10px;
background:#38bdf8;
color:white;
cursor:pointer;
}

.section{
padding:80px 50px;
text-align:center;
}

.dark{
background:#111827;
}

.grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card,
.project{
background:#1e293b;
padding:30px;
border-radius:12px;
transition:0.3s;
}

.card:hover,
.project:hover{
transform:translateY(-5px);
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:none;
border-radius:8px;
}

footer{
padding:20px;
text-align:center;
background:#020617;
}

@media(max-width:768px){

nav{
flex-direction:column;
gap:20px;
}

.hero-content h2{
font-size:40px;
}

}
